#price {
    display: none;
}


h1 {
    font-family: 'Rancho', cursive
    font-size: 50px;
    color: orange;
    text-align: center;
}

h2 {
    font-family: 'Rancho', cursive
    font-size: 24px;
}

.row {
  margin: 50px;
  border: 2px solid black;
  border-radius: 12px;
  padding: 1px;
  background-color: lightblue;
}
